/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
/* UNIVERSAL STYLES */

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

/* HOME PAGE */

.homepage-component-container {
  height: 100vh;
  width: 100%;
  background-image: url('./photos/photo-1534067783941-51c9c23ecefd-Edit.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5%;
  overflow: hidden;
}

.homepage-title {
	font-size: 18vh;
	line-height: 17vw;
	text-align: right;
	padding-right: 15%;
	margin: 0;
	color: white;
	
}

.homepage-title,
.homepage-subtitle,
.homepage-button-container button {
	font-family: 'Permanent Marker', sans-serif;
	letter-spacing: 5px;
	text-shadow: 0px 0px 10px white;
}

.homepage-subtitle {
	color: white;
	font-size: 7vh;
	margin: 6% 0%;
	text-align: left;
	opacity: 0;
	animation: appear 1.5s ease 500ms forwards;
	/* text-shadow: 2px 2px 20px rgba(0,0,0,0.9); */
	letter-spacing: 10px;
}

.homepage-subtitles {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 50px;
}

.subtitle-1 {
	padding-left: 30%;
	animation-delay: 1.5s;
}

.homepage-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50%;
}

.homepage-button-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homepage-button-container button {
	background: rgba(0,0,0,0.5);
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 7vh;
	padding: 10px 20px;
	transition: all 350ms ease;
	transform: translateX(0);
	transform-origin: center;
	opacity: 1;
	/* animation: button-appear 2.5s ease 2.5s forwards; */
}

.homepage-button-container button:hover {
	color: gray;
	background-color: white;
	transform: scale(1.1)
}

.homepage-button-container button:focus {
	outline: none;
}

.auth-modal,
.wizard-modal-container {
	height: 80vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 10px;
}

.auth-close-button,
.wizard-close-button {
	width: 5vw;
	height: 5vw;
	border: none;
	background: none;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	font-size: 4vw;
	font-family: 'Comfortaa', sans-serif;
}

.login-container,
.register-container {
	display: flex;
	flex-direction: column;
}

.login-container h1,
.login-container input {
	margin-bottom: 5vh;
}

.login-container h1 {
	font-family: 'Comfortaa', sans-serif;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	font-size: 5vh;
	text-align: right;
	margin: 5vh 0;
}

.login-container input {
	font-family: 'Comfortaa', sans-serif;
	font-size: 3vh;
	padding: 10px 5px;
	border-radius: 5px;
}

.login-container button {
	background: none;
	border: 2px solid #ff8421;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	font-family: 'Comfortaa', sans-serif;
	font-size: 3vh;
	width: 30%;
	padding: 20px 0;
	border-radius: 5px;
	transition: all 350ms ease;
	box-shadow: 0px 0px 10px #ff8421;
	transform-origin: left;
}

.login-container button:hover {
	background-color: #ff8421;
	color: #333;
	transform: scale(1.1);
}

.register-container input {
	margin-bottom: 2vh;
	padding: 5px 5px;
}

.register-container h1 {
	margin: 2vh 0;
	font-size: 4vh;
}

.register-container button {
	margin: 2vh 0;
	padding: 10px 0;
}

.ReactModal__Overlay {
	background-color: rgba(0,0,0,0.6) !important;
}

.ReactModal__Content {
	border-radius: 10px !important;
	background-color: #333 !important;
	border: none !important;
}

@keyframes appear {
	to {
		opacity: 1;
		transform: translateX(50px)
	}
}

/* @keyframes button-appear {
	to {
		transform: translateX(0);
		opacity: 1;
	}
} */

/*  DASHBOARD  */

.dashboard-component-container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	font-family: 'Comfortaa', sans-serif;
	overflow: hidden;
	height: 100%;
}

.dashboard-header {
	height: 20vh;
	margin-bottom: 10vh;
	background-color: #333;
	/* box-shadow: 0px 5px 10px rgba(0,0,0,0.5); */
	padding: 20px;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	display: flex;
	justify-content: space-between;
}

.dashboard-header img {
	border-radius: 15px;
	height: 100%;
}

.dashboard-header-image {
	display: flex;
	flex-direction: column;
	width: 15%;
}

.dashboard-header-image:hover > i {
	opacity: 1;
}

.dashboard-header-image i {
	color: white;
	margin-top: -5vh;
	margin-left: 1vh;
	opacity: 0;
	transition: all 350ms ease;
	/* mix-blend-mode: exclusion; */
}

.dashboard-header-image div {
	margin-top: 2vh;
	min-height: 15vh;
	padding: 10px;
	border-radius: 5px;
	background-color: #333;
}

.dashboard-header-edit {
	transition: all 500ms ease;
	width: 20vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 10;
}

.dashboard-component-container .dashboard-header-edit button {
	background: none;
	background-color: #333;
	font-family: 'Comfortaa', sans-serif;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	border: none;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
}

.dashboard-header-edit input {
	width: 100%;
	margin: 20px 0;
}

.dashboard-header-edit-hidden {
	opacity: 0;
}

.dashboard-header-name-container {
	display: flex;
	align-items: center;
}

.dashboard-header-name-container h1 {
	font-size: 6vw;
	margin-left: 5%;
}

.dashboard-header-venmo-container {
	display: flex;
	align-items: center;
}

.dashboard-header-venmo-container h2 {
	font-size: 70px;
}

.dashboard-content {
	height: 70vh;
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.dashboard-adventures {
	width: 30%;
	overflow-x: visible;
}

.dashboard-adventures a {
	color: #333;
}

.dashboard-adventure-list {
	height: 50vh;
	overflow-y: scroll;
	padding: 20px;
}

.dashboard-adventure {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15%;
	width: 95%;
	font-size: 2.5vh;
	border: 1px solid #333;
	color: #333;
	border-radius: 10px;
	padding: 15px;
	transition: all 350ms ease;
	margin-bottom: 5%;
}

.dashboard-adventure:hover {
	background-color: #333;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	transform: scale(1.1);
	z-index: 30;
}

.new-trip-button-container {
	display: flex;
	justify-content: center;
}

.new-trip-button {
	font-size: 3vh;
}

.dashboard-friends {
	width: 30%;
}

.dashboard-friends >div >div {
	height: 55vh;
	overflow-y: scroll;
}

.dashboard-friends > div > div > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 10%;
}

.dashboard-friends > div > div > div > a > img {
	border-radius: 5px;
}

.dashboard-friends > div > div > div > span {
	font-size: 2vh;
}

.dashboard-search {
	width: 30%;
	height: 100%;
	overflow: hidden;
}

.dashboard-searchbar {
	width: 80%;
	margin: 2% 10%;
	display: flex;
	justify-content: space-around;
}

.dashboard-searchbar input {
	padding: 10px;
	font-family: 'Comfortaa', sans-serif;
	border-radius: 5px;
	font-size: 2vh;
}

.dashboard-search-list {
	height: 75%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow-y: scroll;
}

.dashboard-search-friend {
	width: 27%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.dashboard-search-friend a {
	width: 80%;
}

.dashboard-search-friend img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.dashboard-component-container button {
	background: none;
	border: none;
	font-family: 'Comfortaa', sans-serif;
	border-radius: 10px;
	color: #333;
	border: 1px solid #333;
	padding: 10px;
	transition: all 350ms ease;
	margin: 2%;
}

.dashboard-component-container button:hover {
	background-color: #333;
	color: #eee;
	transform: scale(1.05)
}

.dashboard-component-container h6 {
	font-size: 4vh;
	padding: 5px;
	color: #333;
	margin-bottom: 5vh;
	text-align: center;
}

.ReactModal__Content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.wizard-modal-container {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.wizard-submit-button {
	width: 25vw;
	background: none;
	border: 1px solid #ff8421;
	font-family: 'Comfortaa', sans-serif;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	font-size: 5vh;
	border-radius: 10px;
	transition: all 350ms ease;
	padding: 20px 0;
	margin-top: 5%;
	box-shadow: 0px 0px 10px #ff8421;
}

.wizard-submit-button:hover {
	color: #333;
	background-color: #ff8421;
	transform: scale(1.1);
}

.wizard-close-button {
	text-shadow: 0px 0px 10px #ff8421;
	position: relative;
	right: 0;
}

.wizard-options-container {
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.wizard-places-container {
	width: 100%;
	height: 30%;
	color: #ff8421;
	font-family: 'Comfortaa', sans-serif;
	font-size: 3vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-shadow: 0px 0px 10px #ff8421;
}

.wizard-origin-container,
.wizard-destination-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 40%;
}

.wizard-origin-container select,
.wizard-destination-container select {
	width: 100%;
	font-family: 'Comfortaa', sans-serif;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 2vh;
}

.wizard-calendar-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.wizard-calendar-instructions {
	font-family: 'Comfortaa', sans-serif;
	font-size: 3vh;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	text-align: left;
	padding-left: 10px;
	line-height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.wizard-calendar-instructions h2 {
	text-align: right;
	width: 100%;
}

.wizard-calendar-reset-button {
	background: none;
	border: 1px solid #ff8421;
	font-family: 'Comfortaa', sans-serif;
	font-size: 3vh;
	padding: 10px;
	color: #ff8421;
	border-radius: 5px;
	text-shadow: 0px 0px 10px #ff8421;
	box-shadow: 0px 0px 10px #ff8421;
	transition: all 350ms ease;
}

.wizard-calendar-reset-button:hover {
	color: #333;
	background-color: #ff8421;
	transform: scale(1.1);
}

.DayPicker-Month {
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	font-family: 'Comfortaa', sans-serif;
	font-size: 2vh;
}
.DayPicker-Weekday {
	color: #ff8421 !important;
}

.DayPicker-Day--today {
	color: white !important;
	text-shadow: 0px 0px 10px #fff;
}

.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
	color: #333 !important;
	text-shadow: none;
}

.DayPicker-Day--start,
.DayPicker-Day--end {
	background-color: #ff8421 !important;
	color: #333 !important;
	text-shadow: none;
}

/* TRIP PAGE */

.trip-component-container {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.trip-content-container {
	width: 80%;
}

.trip-discussion-container {
	width: 20%;
	height: 100vh;
	overflow-y: scroll;
	background-color: #333;
	padding: 10px;
}

.trip-discussion {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.trip-discussion-messages {
	min-height: 50%;
	max-height: 75%;
	overflow-y: scroll;
}

.trip-discussion-message {
	font-family: 'Comfortaa', sans-serif;
	font-size: 2vh;
	color: #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
}

.trip-discussion-message h2 {
	color: white;
	text-shadow: 0px 0px 10px white;
	margin: 5% 0;
}

.trip-discussion-message button {
	font-family: 'Comfortaa', sans-serif;
	font-size: 1.5vh;
	color: #ff8421;
	background: none;
	border: 1px solid #ff8421;
	padding: 5px;
	margin: 5% 2%;
	border-radius: 5px;
	text-shadow: 0px 0px 10px #ff8421;
	box-shadow: 0px 0px 10px #ff8421;
	transition: all 350ms ease;
}

.trip-discussion-message button:hover {
	color: #333;
	background-color: #ff8421;
	transform: scale(1.1);
}

.trip-message-buttons {
	display: flex;
	justify-content: flex-end;
}

.trip-discussion h1 {
	font-family: 'Comfortaa', sans-serif;
	color: #ff8421;
	font-size: 4vh;
	text-shadow: 0px 0px 10px #ff8421;
	text-align: center;
	height: 5%;
}

.message-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 40%;
	background-color: #333;
	z-index: 30;
}

.message-form-container button {
	color: #ff8421;
	font-family: 'Comfortaa', sans-serif;
	background: none;
	border: 1px solid #ff8421;
	text-shadow: 0px 0px 10px #ff8421;
	box-shadow: 0px 0px 10px #ff8421;
	font-size: 2vh;
	padding: 10px;
	border-radius: 5px;
	transition: all 350ms ease;
	margin-bottom: 20px;
	width: 90%;
}

.message-form-container button:hover {
	color: #333;
	background-color: #ff8421;
	transform: scale(1.1);
}

.message-form-container > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.message-form-container > div > textarea {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Comfortaa', sans-serif;
	font-size: 2vh;
	height: 10vh;
}

.trip-location-image-container {
	height: 15vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3vh;
	width: 100%;
}

.trip-location-image-container h1 {
	font-size: 10vh;
	color: white;
	font-family: 'Permanent Marker', sans-serif;
	text-align: center;
	letter-spacing: 10px;
}

.trip-columns {
	display: flex;
	justify-content: space-between;
	height: 85vh;
	overflow: hidden;
}

.trip-columns > div {
	width: 48%;
}

.map-container-div {
	width: 40vw;
	height: 60vh;
	display: flex;
	justify-content: center;
}

.map-container-div > div {
	width: 30% !important;
	height: 60% !important;
}