// VARIABLES
$dark: #48678E;
$teal: #6496A3;
$bright: #ACDFE5;
$gray: rgb(214, 214, 214);

$font1: 'Noto Sans', sans-serif;
$font2: 'Playfair Display', serif;
$font3: 'Shadows Into Light', serif;


// GENERAL RULES
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
button {
    background: none;
    border: none;
    font-family: $font1;
    transition: all 350ms ease;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.05)
}

button:active {
    transform: scale(0.95);
    color: $bright;
}

::-webkit-scrollbar {
    width: 0;
}

// AUTH PAGE

.homepage-component-container {
    height: 100vh;

    .homepage-title {
        font-family: $font3;
        font-size: 9vw;
        position: absolute;
        left: 10%;
        top: 15%;
        height: 20%;
        width: 40%;
        line-height: 100px;
        letter-spacing: 5px;
        // font-weight: bold;
        color: white;
        text-align: right;
    }

    .blob {
        height: 100vh;
        width: 60%;
        max-width: 700px;
        position: absolute;
        bottom: 0;
        left: 5%;
        path {
            height: 100%;
            width: 100%;
        }
    }
    
    .plane {
        position: absolute;
        right: 20px;
        top: 0;
        width: 30%;
        height: 40%;
        transform: rotate(10deg);
    }

    .travelers {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 20%;
        height: 40%;
    }

    .homepage-subtitles {
        width: 30%;
        height: 40%;
        position: absolute;
        right: 5%;
        bottom: 0;

        h3 {
            color: $teal;
            font-family: $font2;
            font-weight: bold;
            font-size: 3vw;
            text-align: right;
            margin-bottom: 10%;
            letter-spacing: 2px;
        }
    }

    .homepage-button-container {
        position: absolute;
        height: 10%;
        bottom: 15%;
        left: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            height: 100%;
        }

        button {
            height: 80%;
            border: none;
            font-family: $font1;
            font-weight: bold;
            font-size: 3vw;
            color: white;
            text-transform: uppercase;
            transition: all 350ms ease;
        }

        .button-border {
            width: 8px;
            background-color: white;
            height: 8px;
            border-radius: 4px;
            transition: all 350ms ease;
            animation: button-border 2s linear infinite;
        }

    }
    
    .homepage-button-container:hover {
        .button-border {
            width: 60%;
            border-radius: 5px;
            height: 5px;
            animation: none;
        }
    }
}

@keyframes button-border {
    50% {
        transform: translateY(-3px)
    }

    100% {
        transform: none
    }
}

.auth-modal {
    // height: 80vh;
    width: 40vw;

    > button {
        border: none;
        font-size: 2vw;
        position: absolute;
        right: 10px;
        top: 10px;
        color: $dark;
    }

    .login-container,
    .register-container {
        height: 90%;
        padding-top: 10%;
        display: flex;
        flex-direction: column;

        button {
            height: 8%;
            width: 30%;
            font-family: $font1;
            font-weight: bold;
            font-size: 2vw;
            color: $teal;
            text-align: right;
        }

        button:hover {
            color: $dark;
        }

        > button {
            width: 40%;
            margin: 10% 30%;
            text-align: center;
            font-size: 3vw;
            margin-bottom: 30%;
        }

        h1 {
            font-size: 2.5vw;
            font-weight: bold;
            color: $teal;
        }

        input {
            font-family: $font2;
            font-weight: bold;
            font-size: 1.5vw;
            letter-spacing: 2px;
            color: $dark;
            width: 70%;
            margin-left: 15%;
            padding: 5px;
            margin-bottom: 5%;
            border: 1px solid $gray;
            border-radius: 5px;
        }

        input:focus {
            outline-color: $teal;
        }

        p {
            text-align: center;
            color: $gray;
            font-family: $font1;
        }

        .auth-switch {
            position: absolute;
            bottom: 50px;
            width: 40vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10%;
        }
    }
}

.ReactModal__Content {
    border: none !important;
    box-shadow: 0px 0px 10px gray;
}

.dashboard-component-container {
    height: 100vh;
    // overflow: hidden;

    .dashboard-header {
        height: 20%;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        // background-color: $teal;

        i {
            color: white;
        }

        .dashboard-header-name-container {
            width: 50%;
            position: absolute;
            right: 0;
            top: 20%;
            height: 20%;
            text-align: center;
            color: $dark;
            font-family: $font2;
            font-weight: bold;
            font-size: 2vw;
            letter-spacing: 2px;
        }

        .fa-sign-out-alt {
            color: $dark;
        }

        .dashboard-header-image {
            height: 100%;

            img {
                height: 100%;
                width: auto;
                padding: 5%;
                padding-left: 15%;
            }

            i {
                position: absolute;
                left: 16%;
                bottom: 15%;
                text-shadow: 0px 0px 5px black;
            }

            .dashboard-header-edit {
                background-color: $teal;
                transform: translateY(-5px);
                padding-bottom: 10px;

                input,
                div {
                    width: 90%;
                    margin-left: 5%;
                    font-family: $font2;
                    letter-spacing: 1px;
                }

                input {
                    padding: 3px;
                }

                div { 
                    display: flex;
                    justify-content: space-between;
                }

                button {
                    font-family: $font1;
                    color: white;
                    font-size: 1.5vw;
                }
            }
        }

        .dashboard-logout-button {
            position: absolute;
            right: 0;
            top: 50%;
            width: 50%;

            button {
                width: 40%;
                margin: 0 30%;
            }
        }
    }

    .dashboard-content {
        height: 100%;
        display: flex;
        // overflow: hidden;

        .dashboard-friends-search-container {
            width: 30%;
            height: 75%;
            margin-top: 15%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            a {
                text-decoration: none;
            }

            h6 {
                font-family: $font2;
                color: $dark;
                font-size: 2vw;
                letter-spacing: 2px;
                text-align: center;
                margin-bottom: 10px;
            }

            .dashboard-friends,
            .dashboard-search {
                height: 45%;
            }

            .dashboard-friends {

                > div {
                    height: 85%;
                    overflow-y: scroll;
                }
            }

            .dashboard-search {

                .dashboard-searchbar {
                    width: 80%;
                    margin: 0 10%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    input {
                        width: 70%;
                        border: 1px solid $gray;
                        padding: 5px;
                        font-family: $font2;
                        border-radius: 5px;
                        letter-spacing: 1px;
                        color: $dark;
                    }
                }

                .dashboard-search-list-container {
                    height: 75%;
                    overflow-y: scroll;
                }
            }

            .friend {
                width: 80%;
                margin: 3% 10%;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $gray;
                color: $dark;
                font-family: $font2;
                font-size: 1.5vw;
                img {
                    border-radius: 50%;
                }
                i {
                    color: $dark;
                }
            }
        }

        .dashboard-adventures {
            width: 70%;

            h6 {
                height: 17%;
                font-size: 8vw;
                font-family: $font3;
                color: $dark;
                text-align: center;
                margin: 4% 0;
                letter-spacing: 3px;
            }

            .user-map-container {
                > div {
                    width: 45% !important;
                    height: 58% !important;
                }
            }

            .dashboard-adventures-content {
                width: 70%;
                display: flex;
            }

            .dashboard-adventure-list {
                width: 35%;
                height: 70vh;
                margin: 0 5%;
                overflow-y: scroll;

                > div {
                    transform: scale(0.95);
                    transition: all 350ms ease;
                }

                > div:hover {
                    transform: none;
                }

                a {
                    text-decoration: none;
                }

                .dashboard-adventure {
                    height: 9vh;
                    margin-bottom: 2vh;
                    border-radius: 5px;
                    padding: 5px;

                    h2, h4 {
                        height: 50%;
                        font-family: $font2;
                        font-weight: bold;
                        font-size: 2vw;
                        text-align: center;
                        text-shadow: 0px 0px 10px gray;
                    }
                }
            }
        }

        .new-trip-button-container {
            position: absolute;
            bottom: 5%;
            left: 30%;

            .new-trip-button {
                width: 30vw;
                height: 10vh;
                font-family: $font3;
                color: $dark;
                font-size: 4vw;
            }

            div {
                height: 2px;
                background-color: $dark;
                width: 30%;
                margin: 0 35%;
                transition: all 350ms ease;
            }
        }

        .new-trip-button-container:hover > div {
            width: 60%;
            margin: 0 20%;
        }
    }
}